<div class="parent-nav">
            <div class="nav-menu"  style="margin: 0;">
                <div class="nav-logo">
                    <a href="tugas.html">Aini</a> 
                 </div>
                 <div class="nav-menu-child-1">
                    <a href="tugas.html">Home</a>
                 </div>
                 <div class="nav-menu-child-2">
                    <a href="tugas.html">Contact List</a>
                 </div>
                 <div class="nav-menu-child-3">
                    <a href="tugas.html">Contact Me</a>
                 </div>
            </div>
         </div>

        <h3 class="text-center py-8 font-bold">Contact Me</h3> 

         <form action="/todos" method="POST">
            <div class="parent-form">
                     <div class="name">
                    <input 
                    id="name"
                    name="name"
                    type="text"
                    placeholder="Full Name"> 
                 </div>

                 <div class="email">
                     <textarea 
                     id="email"
                     name="email"
                     placeholder="Email"></textarea>
                </div>
                
                 <div  class="message">
                     <textarea
                     id="message"
                     name="message"
                     placeholder="Message"></textarea>
                 </div>

                 <div class="send">
                  <button>SEND</button>
                 </div>
                 </div>
            
         </form>